@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {

    background-color: #ffff00;
}
main {
    margin-top: 150px;
    width: 1200px;
}
div.container {
    max-width: 1200px;
    width: 95%;
    margin: auto;
}

h1 {
    padding-top: 20px;
    font-size: 35px;
}
h2, p {
    padding-top: 14px;
}
header {
    background-color: #3498db;
    max-width: 1200px;
    text-align: center;
}
footer {
    background: rgb(196, 191, 191);
    text-align: center;
    position: sticky;
    padding: 20px 0;
    width: 1200px;
    bottom: 0
    
}

section{
    text-align: center;
    background-color: gray;
    padding-top: 50px;
    
    
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;}